
<!--
  Author:    Kaelin Hoang
  Partner:   None
  Date:      9/13/2019
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Kaelin Hoang - This work may not be copied for use in Academic Coursework.

  I, Kaelin Hoang, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

	 This page specifies specific learning objectives with homework assignments and student submissions
-->
@model IEnumerable<EFGetStarted.AspNetCore.NewDb.Models.LearningOutcomes>

@{
	ViewData["Title"] = "Professor";
}


<!-- Credit to template from https://www.w3schools.com/w3css/w3css_templates.asp
	Information changed for purpose of the webpage-->
<link rel="stylesheet" href="~/css/site.css" />
<div class="w3-main" style="margin-left:40px;margin-right:340px">

	<!-- Header -->
	<div class="w3-container" style="margin-top:80px" id="showcase">
		<h1 class="w3-xxxlarge w3-text-red"><b>Professor</b></h1>
		<hr style="width:200px;border:2px solid red" class="w3-round" />
	</div>
</div>
<div class="innerBox">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Department</th>
				<th>Class Number</th>
				<th>Class Name</th>
				<th>Instructor</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>CS</td>
				<td><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Professor">1410</a></td>
				<td>Introduction to Data Structures</td>
				<td>Peter Jensen</td>
			</tr>
			<tr></tr>
			<tr>
				<td>CS</td>
				<td><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Professor">2420</a></td>
				<td>Data Structures and Algorithms</td>
				<td>David Johnson</td>
			</tr>
			<tr>
				<td>CS</td>
				<td><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Professor">4150</a></td>
				<td>Algorithms</td>
				<td>Joe Zachary</td>
			</tr>
		</tbody>

	</table>
</div>
</div>