<!--
  Author:    Kaelin Hoang
  Partner:   None
  Date:      9/27/2019
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Kaelin Hoang - This work may not be copied for use in Academic Coursework.

  I, Kaelin Hoang, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     Shows the RoleChange page with users and their associated roles.
-->
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@{
    ViewData["Title"] = "RoleChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="~/css/site.css">

<h1>RoleChange</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                User Email
            </th>
            <th>
                Admin
            </th>
            <th>
                Instructor
            </th>
            <th>
                Chair
            </th>
        </tr>
    </thead>
    <tbody>
        <h1 onclick="changeText(this)">Click on this text</h1>
        @foreach (var u in UserManager.Users)
        {
            string id = u.Email.Replace("@", "");
            string admin = "Admin";
            string instructor = "Instructor";
            string chair = "Chair";
            var roles = UserManager.GetRolesAsync(u);
            string a = "-";
            string i = "-";
            string c = "-";

    <tr>
        <td id=@id>
            @u.Email
        </td>

            @foreach (var role in await roles)
            {
                @if (role.Equals("Admin"))
                {
                    a = "+";
                }
                @if (role.Equals("Instructor"))
                {
                    i = "+";
                }
                @if (role.Equals("Chair"))
                {
                    c = "+";
                }
            }

        <td onclick="handleChange(this,'@id', '@u.Email', '@admin')" class="clickable">
            @a
        </td>
        <td onclick="handleChange(this,'@id', '@u.Email', '@instructor')" class="clickable">
            @i
        </td>
        <td onclick="handleChange(this,'@id', '@u.Email', '@chair')" class="clickable">
            @c
        </td>
    </tr>

        }
    </tbody>
</table>
<script src="~/js/site.js" asp-append-version="true"></script>
</html>



