<!--
  Author:    Kaelin Hoang
  Partner:   None
  Date:      9/27/2019
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Kaelin Hoang - This work may not be copied for use in Academic Coursework.

  I, Kaelin Hoang, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

	 Shows the RoleChange page with users and their associated roles.
-->
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
	ViewData["Title"] = "RoleChange";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/site.css" />
<h1>RoleChange</h1>
<table class="table">
	<thead>
		<tr>
			<th>
				User Email
			</th>
			<th>
				Admin
			</th>
			<th>
				Instructor
			</th>
			<th>
				Chair
			</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var u in UserManager.Users)
		{
			foreach (var role in await UserManager.GetRolesAsync(u))
			{
				<tr>
					<td>
						@u.Email
					</td>
					@if (role.Equals("Admin"))
					{
					<td class="role">
						+
					</td>
					}
					else
					{
						<td class="role">
							-
						</td>
					}
					@if (role.Equals("Instructor"))
					{
						<td class="role">
							+
						</td>
					}
					else
					{
						<td class="role">
							-
						</td>
					}
					@if (role.Equals("Chair"))
					{
						<td class="role">
							+
						</td>
					}
					else
					{
						<td class="role">
							-
						</td>
					}
				</tr>

			}
		}
	</tbody>
</table>
<script src="~/js/site.js" asp-append-version="true"></script>


